.venv
venv

.vscode
.git

**/__pycache__/

**/migrations/*
!**/migrations/__init__.py

back_static/
/back_static/
*/back_static/

back_media/
/back_media/
*/back_media/

.env

*.sqlite3
*.sqlite3-journal
*.sqlite
*.sqlite-journal
*.db
*.db-journal

.idea

model.dot
